body {
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  white-space: initial;
  font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
}

@media only screen and (max-width: 768px) {
  *, *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  #jt-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  #jt-container {
    padding: 10px;
  }
  #jt-header {
    overflow: hidden;
  }
  .jt-body-nologin-img {
    width: 100%;
  }
  .jt-header-title {
    float: left;
    width: 40%;
    height: 48px;
  }
  .jt-header-auth {
    float: left;
    width: 60%;
    height: 48px;
  }
  .jt-header-title h1 {
    margin: 0;
    font-size: 24px;
  }
  .jt-header-auth {
    text-align: right;
    padding: 7px 0 0 0;
  }
  .jt-header-auth-button {
    padding: 10px;
    background-color: #55acee;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
  }
  .jt-header-auth-button i {
    margin-right: 5px;
  }
  .jt-header-auth-button.sign-out {
    background-color: #F5ABB5;
  }
  #jt-body {
    margin: 40px 0 0 0;
  }
  .jt-body-forms {
    width: 100%;
  }
  #jt-body-forms .alert {
    color: #fff;
    border-radius: 4px;
    margin: 10px 0;
    padding: 5px;
  }
  #jt-body-forms .notice {
    background-color: #5cb85c;
  }
  #jt-body-forms .error {
    background-color: #d40d12;
  }
  .jt-body-forms-tweet textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px;
  }
  .jt-body-forms-meta {
    overflow: hidden;
    margin: 5px 0 0 0;
  }
  .jt-body-form-file {
    display: none;
  }
  .jt-body-forms-img {
    width: 52%;
    height: 50px;
    float: left;
  }
  .jt-body-forms-img span {
    background-color: #ccd6dd;
    color: #fff;
    border-radius: 4px;
    padding: 13px 7px;
    font-size: 14px;
    cursor: pointer;
  }
  .jt-body-forms-img .jt-body-forms-preview {
    display: inline-block;
    img {
      width: 40px;
      height: 40px;
      vertical-align: top;
      margin-top: -8px;
      border-radius: 4px;
    }
  }
  .jt-body-forms-addtag {
    width: 50px;
    padding: 12px 0 0 0;
    display: inline-block;
    margin-left: 5px;
  }
  .jt-body-forms-addtag span {
    background-color: #ccd6dd;
    color: #fff;
    border-radius: 4px;
    padding: 13px 7px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
  }
  .jt-body-forms-m-btn {
    display: none;
  }
  .jt-body-forms-words {
    width: 20%;
    float: left;
    padding: 8px 0 0 0;
    text-align: right;
  }
  .jt-body-forms-words span {
    margin-left: 5px;
    color: #777;
    font-size: 12px;
  }
  .jt-body-forms-submit {
    width: 28%;
    text-align: right;
    float: left;
  }
  .jt-body-forms-submit button[type=submit] {
    width: 80px;
    height: 40px;
    background-color: #55acee;
    color: #fff;
    border: 1px solid #55acee;
    border-radius: 4px;
    font-size: 12px;
  }
  .jt-body-forms-submit.over button[type=submit] {
    background-color: #aaa;
    border: 1px solid #aaa;
  }
  #jt-body-timeline {
    width: 100%;
    margin: 15px 0;
    section {
      text-align: center;
    }
    .jt-body-timeline-header {
      text-align: center;
      margin: 0 0 20px 0;
      .jt-body-timeline-header-refresh {
        cursor: pointer;
        padding: 5px;
        font-size: 16px;
        color: #55acee;
        text-decoration: none;
      }
    }
    .jt-body-timeline-list {
      margin: 10px 0;
      border: 1px solid #55acee;
      border-radius: 4px;
      padding: 7px;
      word-wrap: break-word;
      &.not-tweeted {
        border: 1px solid #aaa;
      }
      .jt-body-timeline-list-body {
        margin: 0 0 10px 0;
        p {
          font-size: 12px;
        }
      }
      .jt-body-timeline-list-bottom a {
        font-size: 12px;
        text-decoration: none;
        color: #777;
      }
      .jt-body-timeline-list-bottom a:hover {
        text-decoration: underline;
      }
      .jt-body-timeline-list-bottom span {
        font-size: 12px;
        color: #777;
        padding-left: 5px;
      }
    }
  }
  #jt-free {
    width: 100%;
    margin: 20px 0 0 0;
  }
  #jt-free.nologin {
    margin: 10px 0;
  }
  #jt-free .jt-free-icon {
    width: 100px;
    vertical-align: middle;
  }
  #jt-free .jt-free-label {
    width: 100px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
    word-wrap: break-word;
    display: block;
  }
  #jt-footer {
    bottom: 0;
    padding: 10px 0;
    text-align: left;
    position: relative;
    footer {
      span { font-size: 10px; }
      #share_tw {
        position: absolute;
        right: 0;
        font-size: 10px;
        padding: 4px;
        border-radius: 4px;
        background-color: #55acee;
        i {
          color: #fff;
          font-size: 13px;
        }
      }
    }
  }
  /************* loading **************/
  #jigentter-loading-overlay {
    display: none;
    background: rgba(30,30,30,0.9);
    top: 0;
    left: 0;
    z-index: 10007;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    text-align: center;
  }
  #jigentter-loading-overlay-inner {
    position: fixed;
    top: 46%;
    left: 44%;
    height: auto;
    max-width: 100%;
  }
  #jigentter-loading-overlay-inner img {
     display: block;
     margin-left: auto;
     margin-right: auto;
  }
}





@media only screen and (min-width: 769px) {
  *, *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  #jt-wrapper {
    width: 769px;
    margin: 0 auto;
  }
  #jt-container {
    padding: 10px;
  }
  #jt-header {
    overflow: hidden;
  }
  .jt-header-title, .jt-header-auth {
    float: left;
    width: 50%;
    height: 48px;
  }
  .jt-header-title h1 {
    margin: 0;
    font-size: 28px;
  }
  .jt-header-auth {
    text-align: right;
    padding: 10px 0 0 0;
  }
  .jt-header-auth-button {
    padding: 10px;
    background-color: #55acee;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  .jt-header-auth-button i {
    margin-right: 5px;
  }
  .jt-header-auth-button.sign-out {
    background-color: #F5ABB5;
  }
  #jt-body {
    margin: 40px 0 0 0;
  }
  .jt-body-forms {
    width: 769px;
  }
  #jt-body-forms .alert {
    color: #fff;
    border-radius: 4px;
    margin: 10px 0;
    padding: 5px;
  }
  #jt-body-forms .notice {
    background-color: #5cb85c;
  }
  #jt-body-forms .error {
    background-color: #d40d12;
  }
  .jt-body-forms-tweet textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px;
  }
  .jt-body-forms-meta {
    overflow: hidden;
    margin: 5px 0 0 0;
  }
  .jt-body-form-file {
    display: none;
  }
  .jt-body-forms-img {
    width: 60%;
    height: 50px;
    float: left;
    padding: 12px 0 0 0;
  }
  .jt-body-forms-img span {
    background-color: #ccd6dd;
    color: #fff;
    border-radius: 4px;
    padding: 13px 7px;
    font-size: 14px;
    cursor: pointer;
  }
  .jt-body-forms-img .jt-body-forms-preview {
    display: inline-block;
    img {
      width: 40px;
      height: 40px;
      vertical-align: top;
      margin-top: -8px;
      border-radius: 4px;
    }
  }
  .jt-body-forms-addtag {
    width: 140px;
    height: 50px;
    padding: 0;
    display: inline-block;
  }
  .jt-body-forms-addtag span {
    background-color: #ccd6dd;
    color: #fff;
    border-radius: 4px;
    padding: 13px 7px;
    font-size: 14px;
    cursor: pointer;
  }
  .jt-body-forms-words {
    width: 20%;
    float: left;
    text-align: right;
    padding: 8px 0 0 0;
  }
  .jt-body-forms-words span {
    margin-left: 5px;
    color: #777;
  }
  .jt-body-forms-submit {
    width: 20%;
    float: left;
    text-align: right;
  }
  .jt-body-forms-submit button[type=submit] {
    width: 120px;
    height: 40px;
    background-color: #55acee;
    color: #fff;
    border: 1px solid #55acee;
    border-radius: 4px;
  }
  .jt-body-forms-submit.over button[type=submit] {
    background-color: #aaa;
    border: 1px solid #aaa;
  }
  #jt-body-timeline {
    width: 100%;
    margin: 15px 0;
    section {
      text-align: center;
    }
    .jt-body-timeline-header {
      text-align: center;
      margin: 0 0 20px 0;
      .jt-body-timeline-header-refresh {
        cursor: pointer;
        padding: 5px;
        font-size: 16px;
        color: #55acee;
        text-decoration: none;
      }
    }
    .jt-body-timeline-list {
      margin: 10px 0;
      border: 1px solid #55acee;
      border-radius: 4px;
      padding: 7px;
      &.not-tweeted {
        border: 1px solid #aaa;
      }
      .jt-body-timeline-list-header a {
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        color: #000;
      }
      .jt-body-timeline-list-body {
        margin: 0 0 10px 0;
      }
      .jt-body-timeline-list-bottom a {
        font-size: 14px;
        text-decoration: none;
        color: #777;
      }
      .jt-body-timeline-list-bottom a:hover {
        text-decoration: underline;
      }
      .jt-body-timeline-list-bottom span {
        font-size: 14px;
        color: #777;
        padding-left: 5px;
      }
    }
  }
  #jt-free.nologin {
    margin: 60px 0;
  }
  #jt-free .jt-free-icon {
    width: 250px;
    vertical-align: middle;
  }
  #jt-free .jt-free-label {
    border: 1px solid #000;
    border-radius: 50%;
    padding: 20px;
    word-wrap: break-word;
    display: inline-block;
  }
  #jt-footer {
    width: 769px;
    padding: 10px 0;
    text-align: left;
    position: relative;
    footer {
      span { font-size: 16px; }
      #share_tw {
        position: absolute;
        right: 0;
        font-size: 10px;
        padding: 4px;
        border-radius: 4px;
        background-color: #55acee;
        i {
          color: #fff;
          font-size: 13px;
        }
      }
    }
  }
  /************* loading **************/
  #jigentter-loading-overlay {
    display: none;
    background: rgba(30,30,30,0.9);
    top: 0;
    left: 0;
    z-index: 10007;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    text-align: center;
  }
  #jigentter-loading-overlay-inner {
    position: fixed;
    top: 46%;
    left: 44%;
    height: auto;
    max-width: 100%;
  }
  #jigentter-loading-overlay-inner img {
     display: block;
     margin-left: auto;
     margin-right: auto;
  }
}