<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="UTF-8" />
  <title>時限ったー</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="keywords" content="時限ったー,jigentter,twitter,１時間くらいで消えるツイート">
  <meta name="description" content="時限ったーは１時間くらいで消えるツイートができるサービスです" >
  <meta name="copyright" content="時限ったー">
  <meta name="author" content="時限ったー">
  <meta property="og:title" content="時限ったー" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://jigentter.com" />
  <meta property="og:image" content="http://i.imgur.com/mUbnJ9X.png" />
  <meta property="og:site_name" content="時限ったー" />
  <meta property="og:description" content="時限ったーは１時間くらいで消えるツイートができるサービスです" />
  <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="http://i.imgur.com/fcMWxm5.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
