<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="UTF-8" />
  <title>時限ったー</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="keywords" content="時限ったー,jigentter,twitter,１時間くらいで消えるツイート">
  <meta name="description" content="時限ったーは１時間くらいで消えるツイートができるサービスです" >
  <meta name="copyright" content="時限ったー">
  <meta name="author" content="時限ったー">
  <meta property="og:title" content="時限ったー" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://jigentter.com" />
  <meta property="og:image" content="http://i.imgur.com/mUbnJ9X.png" />
  <meta property="og:site_name" content="時限ったー" />
  <meta property="og:description" content="時限ったーは１時間くらいで消えるツイートができるサービスです" />
  <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="http://i.imgur.com/fcMWxm5.png">
  <link rel="apple-touch-icon" sizes="180x180" href="http://i.imgur.com/4deZfo8.png">
  <link rel="apple-touch-icon-precomposed" href="http://i.imgur.com/4deZfo8.png">
  <link rel="shortcut icon" href="http://i.imgur.com/4deZfo8.png">
  <link rel="icon" sizes="192x192" href="http://i.imgur.com/4deZfo8.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- GA -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-32830984-16', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

<%= yield %>

</body>
</html>
